doctype html
html
  title Cocubes
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/bootstrap.min.js')
    // Custom styles for this template
    link(href='stylesheets/style1.css', rel='stylesheet')
    link(href='stylesheets/style-responsive.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      body {
      background-color:#2C3E50;
      }
      header {
      background-color: #2C3E50;
      border-bottom: 1px solid #fd9f1b;
      }
      h3{
      font-size:18px;
      }
      .navbar h2 {
      color:#fd9f1b;
      }
      .user {
      font-family:;
      }
      .row{
      offset:0px;
      }
      .row a {
      text-decoration: none;
      color: black;
      }
      .panel-box {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
      text-align: center;
      border: medium none;
      }
      .panel-box .panel-icon {
      display: table-cell;
      padding: 15px;
      width: 1%;
      vertical-align: top;
      border-radius: 0px;
      text-align: center;
      /*border-bottom: 1px solid #fcfcfc;
      border-top: 1px solid #fcfcfc;
      border-right: 1px solid #fcfcfc;*/
      }
      .dashboard-stats .stat-icon {
      line-height: 65px;
      }
      .bg-success {
      background-color: #A3C86D !important;
      color: #FFF !important;
      }
      .success-text {
      color: #82b33a;
      }
      .bg-danger {
      background-color: #FF7857 !important;
      color: #FFF !important;
      }
      .danger-text {
      color: #d15b3d;
      }
      .bg-lovender {
      background-color: #8075C4 !important;
      color: #FFF !important;
      }
      .lovender-text {
      color: #6a5fb1;
      }
      .bg-info {
      background-color: #7ACBEE !important;
      color: #FFF !important;
      }
      .info-text {
      color: #3ca0cb;
      }
      .size-h1 {
      margin-left:-10px;
      margin-top:0px;
      font-size: 14px;
      }
      .panel-icon p.text {
      font-weight: bold;
      margin-top: 16px !important;
      font-size: 16px;
      text-align: center;
      }
      .panel-icon i {
      text-align: center;
      }
      .panel-icon i {
      text-align: center;
      }
      .text-large {
      font-size: 50px;
      }
      .img-circle {
      width:150px;
      height:150px;
      margin-top:0px;
      border:6px solid lightgrey;
      }
      .glyphicon, .fa {
      font-size: 50px;
      }
      .glyphicon-off {
      font-size: 20px;
      }
      .panel:hover {
      transform: scale(1.2);
      transition-duration: 0.3s;
      }
      .header .top-menu ul li a {
      background-color: #2C3E50;
      border: 1px solid #2C3E50;
      }
      .header .top-menu ul li {
      border-color: 1px solid #2C3E50;
      }
  body
    // header start
    header.header
      // logo start
      a.logo(href='#')
        img(src='images/cocubes.png',style='height:55px;width:100px;margin-top:-13px')
      // logo end
    // CONTENT
    div.container-fluid
      .col-md-12.col-sm-12.text-center(style="color: #fff; margin: 100px 0 0 0; ")
        center
          img.img-circle.img-responsive.img-center(src="images/modified.png" alt='user' height="30", width="30")
        h3
          p Analysis
        br
        br

    div.container
      .row.dashboard-stats.container
        .col-md-3.col-sm-6.col-md-offset-1
          a(href='/college')
            section.panel.panel-box
              .panel-left.panel-icon.bg-info
                i.fa.fa-university
              .panel-right.panel-icon.bg-reverse
                p.text-muted.no-margin.text
                  span  College
        .col-md-3.col-sm-6
          a(href='/branch')
            section.panel.panel-box
              .panel-left.panel-icon.bg-danger
                i.fa.fa-building
              .panel-right.panel-icon.bg-reverse
                p.text-muted.no-margin.text
                  span  Branch
        .col-md-3.col-sm-6
          a(href='/year')
            section.panel.panel-box
              .panel-left.panel-icon.bg-success
                i.fa.fa-calendar
              .panel-right.panel-icon.bg-reverse
                p.text-muted.no-margin.text
                  span  Year
